USE [master]
GO
/****** Object:  Database [PersonelVeriTabani]    Script Date: 5.09.2025 16:26:29 ******/
CREATE DATABASE [PersonelVeriTabani]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonelVeriTabani', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PersonelVeriTabani.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonelVeriTabani_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PersonelVeriTabani_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonelVeriTabani].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonelVeriTabani]
GO
/****** Object:  Table [dbo].[Tbl_Personeller]    Script Date: 5.09.2025 16:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Personeller](
	[perId] [smallint] IDENTITY(1,1) NOT NULL,
	[perAd] [nchar](10) NULL,
	[perSoyad] [nchar](10) NULL,
	[perSehir] [nchar](13) NULL,
	[perMaas] [smallint] NULL,
	[perDurum] [bit] NULL,
	[perMeslek] [nchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Yonetici]    Script Date: 5.09.2025 16:26:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Yonetici](
	[KullaniciAd] [varchar](10) NULL,
	[Sifre] [varchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
